GOOGLE_SHEET_ID=your_google_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

# Cron schedules (optional)
REMINDER_CRON=0 0 15 * * *
WEEKLY_REPORT_CRON=0 0 20 * * 0
MONTHLY_REPORT_CRON=0 0 9 1 * *
RECURRING_CRON=0 0 1 1 * *
